{% style %}
.faq-accordion-section {
	margin: {{ section.settings.section_margin }}px auto;
	max-width: {{ section.settings.section_max_width }}px;
	border-top: 1px solid;

}

.accordion {
	max-width: {{ section.settings.section_max_width }}px;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
}

.accordion .item {
	padding: 24px;
	cursor: pointer;
	display: grid;
	grid-template-columns: auto max-content;
	column-gap: 24px;
	row-gap: 32px;
	border-bottom: 1px solid;
	align-items: center;
	transition: border-top 0.3s;
}
.accordion .item.open {
	border-top: 4px solid #087f5b;
}
.accordion .item.open .hidden-box {
	display: block;
}
.accordion .item.open .text {
	color: #087f5b;
}
.accordion .number {
	color: #ced4da;
}

.accordion .item.open .text {
	transition: color 0.3s;
}
.accordion .icon {
	width: 24px;
	height: 24px;
	stroke: #087f5b;
	transition: transform 0.5s ease-in;
}
.accordion .item.open .icon {
	transform: rotate(180deg);
}
.accordion .hidden-box {
	display: none;
	transition: display 0.5 ease-in;
}
.accordion .hidden-box p {
	line-height: 1.6;
	margin-bottom: 24px;
}
.accordion .hidden-box ul {
	color: #868e96;
	margin-left: 18px;

	display: flex;
	flex-direction: column;
	gap: 12px;
}
.accordion .question-text {
	margin: 0;
	font-size: {{ section.settings.question_font_size }}px;
	font-weight: {{ section.settings.question_font_weight }};
}

.accordion .answer-header {
	font-size: {{ section.settings.answer_header_font_size }}px;
	font-weight: {{ section.settings.answer_header_font_weight }};
	margin-top: {{ section.settings.answer_header_margin_top }}px;
	margin-bottom: {{ section.settings.answer_header_margin_bottom }}px;
}

.accordion .answer-body p {
	font-size: {{ section.settings.answer_body_font_size }}px;
	margin-top: {{ section.settings.answer_body_margin_top }}px;
	margin-bottom: {{ section.settings.answer_body_margin_bottom }}px;
}

{% endstyle %}

<section class="faq-accordion-section">
{% for block in section.blocks %}
<div class="accordion">
	<div class="item">
		{% if block.settings.question != blank %}
		<h2 class="question-text">{{ block.settings.question }}</h2>
		{% else %}
		<h2 class="question-text">What is your Frequently Asked Question?</h2>
		{% endif %}
		<svg xmlns="http://www.w3.org/2000/svg" class="icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
		</svg>
		<div class="hidden-box">
			{% if block.settings.answer_header1 != blank %}
			<h2 class="answer-header">{{ block.settings.answer_header1 }}</h2>
			{% else %}
			<h2 class="answer-header"> An answer to your question with H2 tag </h2>
			{% endif %}
			{% if block.settings.answer_body1 != blank %}
			<span class="answer-body">{{ block.settings.answer_body1 }}</span>
			{% else %}
			<p class="answer-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			{% endif %}
			{% if block.settings.answer_header2 != blank %}
			<h2 class="answer-header">{{ block.settings.answer_header2 }}</h2>
			{% endif %}
			{% if block.settings.answer_body2 != blank %}
			<p class="answer-body">{{ block.settings.answer_body2 }}</p>
			{% endif %}
			{% if block.settings.answer_header3 != blank %}
			<h2 class="answer-header">{{ block.settings.answer_header3 }}</h2>
			{% endif %}
			{% if block.settings.answer_body3 != blank %}
			<p class="answer-body">{{ block.settings.answer_body3 }}</p>
			{% endif %}
		</div>
	</div>
</div>
{% endfor %}
</section>
