<style>
  #shopify-section-{{ section.id }} .custom-liquid {
    padding-top: {{ section.settings.section_spacing_mobile }}px;
    padding-bottom: {{ section.settings.section_spacing_mobile }}px;
  }

  @media screen and (min-width: 720px) {
    #shopify-section-{{ section.id }} .custom-liquid {
      padding-top: {{ section.settings.section_spacing_desktop }}px;
      padding-bottom: {{ section.settings.section_spacing_desktop }}px;
    }
  }
</style>

<script
  type="application/json"
  data-section-type="custom-liquid"
  data-section-id="{{ section.id }}"
>
</script>

{% if section.settings.custom_liquid != blank %}
  <section class="custom-liquid">
    {{ section.settings.custom_liquid }}
  </section>
{% endif %}

{% schema %}
{
  "name": "Custom liquid",
  "class": "custom-liquid--section",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "Custom liquid"
    },
    {
      "type": "range",
      "id": "section_spacing_desktop",
      "label": "Desktop section spacing",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 50
    },
    {
      "type": "range",
      "id": "section_spacing_mobile",
      "label": "Mobile section spacing",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Custom liquid",
      "category": "Content"
    }
  ],
  "templates": [
    "index",
    "product",
    "page"
  ]
}

{% endschema %}